{% extends "base.html" %}
{% load  widget_tweaks %}

{% block title %} book title list{% endblock title %} 

{% block content %}
{% comment %} {% if form.non_field_errors %}
    {% for error in form.non_field_errors  %}
    <div class="font-bold text-xl text-red-400">{{error}}</div>
    {% endfor %}
{% endif %} {% endcomment %}

{% if messages %}

{% for message in messages %}
{% if 'info' in message.tags %}
{% include "components/alert.html" with is_info=True title="Success" body=message %}
{% elif 'error' in message.tags %}
{% include "components/alert.html" with is_info=False title="Error" body=message %}
{% endif %}
{% endfor %}
{% endif %}



{% include "components/header.html"  with  title="Book titles" description="list of all the book titles available"%}


<form  action="" method="POST">
    {% csrf_token %}
    {% comment %} {{form.title| add_class:'bg-slate-900 text-slate-400 p-3 rounded-2xl font-bold'}} {% endcomment %}
    <div class="mb-2">
        <label for="{{form.title.id_for_label}}" class="block font-bold text-slate-800 dark:text-slate-300">
          title  {{form.title|add_class:'bg-slate-100 dark:bg-slate-300 text-slate-800 rounded p-2 w-full '}}
        </label>
        {% if form.title.errors %}
        {% for error in form.title.errors  %}
        <div class="my-1 text-red-500 font-bold text-sm">{{error}} </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="mb-2">
        <label for="{{form.author.id_for_label}}" class="block font-bold text-slate-800 dark:text-slate-300">
          author  {{form.author|add_class:'bg-slate-100 dark:bg-slate-300 text-slate-800 rounded p-2 w-full '}}
        </label>
    </div>
    <div class="mb-2">
        <label for="{{form.publisher.id_for_label}}" class="block font-bold text-slate-800 dark:text-slate-300">
          publisher  {{form.publisher|add_class:'bg-slate-100 dark:bg-slate-300 text-slate-800 rounded p-2 w-full '}}
        </label>
    </div>
    <button type="submit" class="px-4 py-2 mt-5 bg-blue-500 text-white rounded-lg ">send</button>
</form>
{% if qs %}
<ul>
    {% for el in qs  %}
    
    
    <li><a  href="{{el.get_absolute_url}}"> {{el.title}} </a></li>
    {% endfor %}

</ul>

{% endif %}


{% endblock content %}